/*******************************
GENERAL STYLES
*********************************/

.main-container {
    position: relative;
  }

body {
  margin: 0;
}

p {
  font-size: x-large;
}

h1 {
  font-size: xx-large;
}

ul {
  list-style: none;
  padding: 0;
}

.bitter {
  font-family: 'Bitter', serif;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}