// NAVIGATION EXTENSION RULES

%nav-rules {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  color: black;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}