// FORM EXTENSTION RULES

%form-rules {
	font-size: 0.875em;
	background: transparent;
	outline: none;
	color: #726659;
	border: solid 1px #b3aca7;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}